@import "./theme.scss";

html {
    font-size: 16px;
}

body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    font-family: $primaryFont, $secondaryFont;
    padding: 0;
	padding-top: 120px;
}

.app-body {
    
}

.underline-on-hover:hover {
    text-decoration: underline !important;
}

.centered-content {
    width: 1280px;
    max-width: 90vw;
    margin: auto;
}

.bg-darkwhite {
	background-color: $darkWhite;
}
.cursor-ptr {
	cursor: pointer;
}

@media screen and (max-width: 576px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 991px) {
    .app {
        padding-top: 0;
    }
}

.test {
    position: sticky;
    top: 0;
}