@import "./theme.scss";

.changeMakers {
    padding: $sectionPadding 0;
}

.changeMaker-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.changeMaker-txt {
    margin-top: 0.3rem;
	color: $black;
}

.changeMaker-hashtags {
	margin-top: 1rem;
	color: $xdarkGrey;
}