@import "./theme.scss";

.discover-more {
	display: flex;
	align-items: center;
	color: $xdarkGrey;
	cursor: pointer;
}

.discover-more-icon {
	margin-left: 0.5rem;
	transition: transform 0.3s;
}

.discover-more:hover {
	.discover-more-icon {
		transform: translateX(0.2rem);
	}
	.discover-more-txt {
		text-decoration: underline;
	}
}