@import "./theme.scss";

.footer-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $secondaryColor;
    padding: 3vh 0;
}

.footer-navbar-item {
    transition: transform 0.1s;
    text-decoration: none;
    color: $black;
    font-size: 1.2rem;
    white-space: nowrap;
}

.footer-navbar-item:hover {
    transform: scale(1.07);
    color: #000;
}