@import "./theme.scss";

.footer-navbar {
    justify-content: space-around;
    padding: 0 4rem;
    background-color: $secondaryColor;
    padding: 3vh 0;
    margin-top: 2rem;
}
.footer-navbar-item {
    transition: transform 0.1s;
    a {
        font-size: $largeFont;
        text-decoration: none;
        color: $black;
        white-space: nowrap;
    }
}
.footer-navbar-item:hover {
    color: #000;
    transform: scale(1.07);
    
}

@media screen and (max-width: 900px) {
    .footer-navbar {
        display: none;
    }
}