@import "./theme.scss";

.header-mobile-wrapper {
	display: none;
	z-index: 100;
	overflow: hidden;
}

.header-mobile {
	background-color: $darkPrimaryColor;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0.5rem;
}
.hamburger-btn {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.7rem;
	border-radius: 4px;
	background-color: transparent;
	transition: transform 0.15s;
}
.hamburger-btn:hover {
	.hamburger-icon {
		transform: scale(1.1);
	}
}
.hamburger-icon {
	font-size: 2rem;
	color: $white;
}
.header-mobile-logo {
	width: 200px;
	max-width: 40vw;
}
.header-mobile-btn {
	border: none;
	background-color: transparent;
}
.header-mobile-btn:hover {
	.header-mobile-icon {
		transform: scale(1.1);
	}
}
.header-mobile-icon {
	color: $white;
	font-size: 2rem;
	transition: transform 0.15s;
}

.navbar-mobile {
	position: fixed;
	top: 0;
	left: -100%;
	width: 60vw;
	height: 100vh;
	z-index: 101;
	transition: left 0.3s;
	background-color: $white;
	flex-direction: column;
}
.navbar-mobile-active {
	left: 0;
}
.navbar-mobile-item {
	border: 1px solid orange;
}

@media screen and (max-width: 991px) {
	.header-mobile-wrapper {
		display: block;
	}
}