@import "./theme.scss";

.header {
	position: fixed;
	width: 100%;
	top: 0;
	align-items: center;
	height: 120px;
	background-color: $darkPrimaryColor;
	padding: 0 1.7rem;
	z-index: 10;
}

.header-btn {
	background-color: $secondaryColor;
	border: 0;
	transition: transform 0.1s;
	font-weight: bold;
	padding: 2px;
	white-space: nowrap;
	color: $black;
	font-size: 1.05rem;
	border-radius: 4px;
	box-shadow: 0 0 3px $secondaryColor;
	text-decoration: none;
}

.header-btn-inner {
	padding: 0.7rem 0.8rem;
}

.header-btn:hover {
	transform: scale(1.05);
	color: $secondaryColor;
	.header-btn-inner {
		background-color: $darkPrimaryColor;
	}
}

.login-icon {
	color: $white;
	margin-right: 2rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: transform 0.1s;
}
.login-icon:hover {
	transform: scale(1.1);
	color: $secondaryColor;
}

@media screen and (max-width: 991px) {
	.header {
		display: none;
	}
}