@import "./theme.scss";

.new-causes {
    padding: $sectionPadding 0;
}

.new-causes-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.new-causes-timeLeft {
	margin-top: 0.1rem;
	color: $thirdColor;
	
}

.new-causes-txt {
    margin-top: 0.4rem;
	color: $black;
}

.new-causes-hashtags {
	margin-top: 1rem;
	color: $xdarkGrey;
}

.new-causes-participants {
	margin-top: 0.2rem;
	color: $thirdColor;
	font-weight: bold;
}

.new-causes-organisation {
	margin-top: 0.2rem;
    font-style: italic;
}