@import "./theme.scss";

.pagination {
    display: flex;
	height: 40px;
	margin-top: 2.5rem;
}

.pagination-prev, .pagination-next {
	border: none;
	color: $primaryColor;
	padding: 0 1rem;
	background-color: $white;
}

.pagination-prev {
	border-radius: 6px 0 0 6px;
	border-top: 1px solid $xlightGrey;
	border-bottom: 1px solid $xlightGrey;
	border-left: 1px solid $xlightGrey;
	border-right: 1px solid $xlightGrey;
}

.pagination-next {
	border-radius: 0 12px 12px 0;
	border-top: 1px solid $xlightGrey;
	border-bottom: 1px solid $xlightGrey;
	border-right: 1px solid $xlightGrey;
}

.pagination-item {
    color: $primaryColor;
	border: none;
	border-right: 1px solid $xlightGrey;
	border-top: 1px solid $xlightGrey;
	border-bottom: 1px solid $xlightGrey;
	padding: 0 1rem;
	background-color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.pagination-prev:hover, .pagination-next:hover, .pagination-item:hover {
	background-color: $darkWhite;
}

.pagination-icon {
	transition: all 0.3s;
}

.pagination-prev:hover {
	.pagination-icon {
		transform: translateX(-0.1rem);
	}
}

.pagination-next:hover {
	.pagination-icon {
		transform: translateX(0.1rem);
	}
}

.pagination-item-active {
	background-color: $primaryColor;
	color: $white;
}
.pagination-item-active:hover {
	background-color: $primaryColor !important;
}