@import "./theme.scss";

.petition-input {

}
.petition-input-clue {
	cursor: pointer;
	background-color: transparent;
	color: $darkPrimaryColor;
}
.petition-input-clue:hover {
	border-bottom-right-radius: 0;
	background-color: $darkPrimaryColor;
	color: $white;
}
.petition-input-btn {
	height: 100%;
	border: none;
	border-radius: 4px;
	padding: 0 1rem;
	color: $white;
	background-color: $primaryColor;
	border: 1px solid $primaryColor;
}
.petition-input-btn:hover {
	background-color: $white;
	color: $primaryColor;
}

@media screen and (max-width: 575px) {
	.petition-input-btn-xs {
		padding: 0;
		width: 100%;
		margin-top: 1rem;
	}
}