@import "./theme.scss";

.petition {
	width: 900px;
	max-width: 90vw;
	margin: auto;
}
.petition-issue-container {
	padding: 1.5rem;
}
.petition-issue-container-active {
	background-color: $secondaryColor;
}
.petition-issue {
	background-color: transparent;
	border: none;
}
.petition-issue-title {
	text-align: center;
	white-space: nowrap;
}

.petition-title-wrapper {

}
.petition-title-wrapper-title {
	font-size: $xlargeFont;
	color: $black;
	margin-bottom: 0.5rem;
}
.petition-title-wrapper-subtitle {
	color: $darkGrey;
	margin-bottom: 0.5rem;
}

.petition-goal {
	border-right: none;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-preview {
  margin: 0 10px;
}
