@import "./theme.scss";

.signup-screen {
	padding: $xxsectionPadding 0;
	justify-content: center;
}
.signup-screen-title {
	text-align: center;
	font-size: $xxlargeFont;
	margin-bottom: 3rem;
}
.signup-screen-register {
	text-align: center;
	font-size: $largeFont;
	margin-bottom: 3rem;
	a {
		text-decoration: none;
		color: $primaryColor
	}
}
.signup-screen-input {
	width: 80%;
	margin-bottom: 1.5rem;
}
.signup-screen-btn {
	width: 80%;
	background-color: $primaryColor;
	color: $white;
	border: none;
	padding: 0.5rem 0;
	border-radius: 0.25rem;
	transition: transform 0.2s;
	font-size: $largeFont;
}
.signup-screen-btn:hover {
	transform: translateY(0.2rem);
}