@import "./theme.scss";

.success-stories-container {
    padding: $sectionPadding 0;
}

.success-stories-item-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.success-stories-item-txt {
    margin-top: 0.3rem;
    color: $xdarkGrey;
}

.success-stories-item-organisation {
    margin-top: 1rem;
    font-style: italic;
}