// --- Colors ---

$primaryColor: #674df0;
$secondaryColor: #29f0b4;
$xlightPrimaryColor: #ece9fa;
$lightPrimaryColor: #c7bfec;
$darkPrimaryColor: #1b1f2e;
$thirdColor: #2171DB;
$xlightGrey: #dbdbdb;
$lightGrey: #c8c8c8;
$grey: #8d91a2; 
$darkGrey: #707070;
$xdarkGrey: #444444;
$black: #202020;
$white: #ffffff;
$darkWhite: #f0f0f0;

// --- Fonts ---
$xsmallFont: 0.6rem;
$smallFont: 0.8rem;
$largeFont: 1.2rem;
$xlargeFont: 1.5rem;
$xxlargeFont: 1.9rem;
$xxxlargeFont: 2.2rem;

$primaryFont: "Poppins";
$secondaryFont: sans-serif;

$textColor1: $black;
$textColor2: $white;

// --- Padding ---

$sectionPadding: 3rem;
$xsectionPadding: 4rem;
$xxsectionPadding: 6rem;